Connected Services/ServiceReference1/StagiaireWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GestNomsStagiaire">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GestNomsStagiaireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GestNomsStagiaireResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GestNomsStagiaireSoapIn">
    <wsdl:part name="parameters" element="tns:GestNomsStagiaire" />
  </wsdl:message>
  <wsdl:message name="GestNomsStagiaireSoapOut">
    <wsdl:part name="parameters" element="tns:GestNomsStagiaireResponse" />
  </wsdl:message>
  <wsdl:portType name="StagiaireWebServiceSoap">
    <wsdl:operation name="GestNomsStagiaire">
      <wsdl:input message="tns:GestNomsStagiaireSoapIn" />
      <wsdl:output message="tns:GestNomsStagiaireSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StagiaireWebServiceSoap" type="tns:StagiaireWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GestNomsStagiaire">
      <soap:operation soapAction="http://tempuri.org/GestNomsStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StagiaireWebServiceSoap12" type="tns:StagiaireWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GestNomsStagiaire">
      <soap12:operation soapAction="http://tempuri.org/GestNomsStagiaire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StagiaireWebService">
    <wsdl:port name="StagiaireWebServiceSoap" binding="tns:StagiaireWebServiceSoap">
      <soap:address location="https://localhost:44338/StagiaireWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StagiaireWebServiceSoap12" binding="tns:StagiaireWebServiceSoap12">
      <soap12:address location="https://localhost:44338/StagiaireWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>